extends layout

block content
  form(action='/users/createChat', method='POST')
      fieldset
        label(for='Cid') Title of the Chat:
        input#Title(type='text', name='Title')
        br
        label(for='Cmessage') User you want to invite: 
        input#User(type='text', name='InviteID')
        br
        input(type='submit', value='create chat')
  script(src='api.js')
