<html>
<head>
<title> test </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<form action="/users/submitTag" method="POST">
<fieldset>
<label for="Tname">Tag: </label>
<input type="text" id="Tname" name="Tname" />
<br/>
<input type="submit" value="create tag" />
</fieldset>
</form>
</body>
</html>