html(lang='en')
	head
		meta(charset='UTF-8')
		link(href='/style.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
	body
		header
			img(src='/LogoBridge.jpg', width='90', height='90')
			nav.links
				ol
<<<<<<< HEAD
					a(href='/users/main')   Home
					a(href='/users/profile')   Profile
					a(href='/users/logout')   LogOut
	block content 
=======
					a(href='/users/main') Home
					a(href='/users/profile') Profile
					a(href='/users/submitTag') Tags
					a(href='/users/chat') ChatKit
					a(href='/users/logout') LogOut
		block content 
>>>>>>> 8f0b84af3c4cebed0307c9e454800cb320a454b7
