doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(href='/style.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
    body

    block content