extends startup
block content
			#getstarted
				form(action='/users/login', method='post')
					fieldset
						br
						label(for='username') username: 
						input#username(type='text', name='username')
						br
						label(for='description') Password: 
						input#pass(type='text', name='pass')
						br
						input(type='submit', value='login')