extends layout

block content
			p#user 
		#friends
		#createtag
			button  Create a tag 
		#createchat
			button  Find a chat 
		script.
			var friends=["simona","Thales"]
			friends.foreach(element=>{
			document.getElementById("Friends")+= element+ "<br>";
			});
		div(id='')
