html
  head
    title  test 
link(rel='stylesheet', href='/css/bootstrap-min.css')
link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
link(href='/tagstyle.css', rel='stylesheet', type='text/css')
body
header
img(src='/LogoBridge.jpg', width='90', height='90')
form(action='/users/messageToChat', method='POST')
      fieldset
        label(for='Cid') ID of Chat: 
        input#Tname(type='text', name='Cid')
        br
        label(for='Cmessage') Message: 
        input#Tname(type='text', name='Cmessage')
        br
        input(type='submit', value='send message')
  script(src='api.js')
    <script>
    </html>





