extends layout

block content
		.main
			.container
				.row
					.col-sm-4
						#profilepic
							each item in users
								img(src='"/" + item.profile_picture +"')
					.col-sm-4
						#bio
							each item in users
								p="Username: " + item.username
								p="ID of the User: " + item.id_user
								p="Email: " + item.email
					.col-sm-4

			.container
				.row
					.col-sm-4
						#uploadpic
							form(action='/users/imginsert', method='post', enctype='multipart/form-data')
								input#pic(type='file', name ='file', value='file')
								input#pic(type='submit', value='submit')
					.col-sm-4
						form(action='/users/chat')
							input#startchat(type='submit', value='Start a chat')
					.col-sm-4
						br
				.row
					.col-sm-12
						#tags
							h2#navtitle My Tags
							each item in tags
								p=item.id_tag