extends layout

block content
		.main
			br
			br
			img#profilepic
		#bio
			each item in users
				p="Username: " + item.username
				p="ID of the User: " + item.id_user
				p=item.bio
		#uploadpic
			form(action='/users/imginsert', method='post', enctype='multipart/form-data')
				input(type='file', name ='file', value='file')
				input(type='submit', value='submit')
		#tags
			h2#navtitle My Tags
			each item in tags
				p=item.id_tag