html
  head
    link(href='/startstyle.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
  body
    #rightside
      img(src='/LogoBridge.jpg', width='70', height='70')
      #slogan
        h1
          | Find people that love
          | the same thing as you do.
        h2 Join Bridge today.
      block content