extends layout

block content
	form(action='/users/submitTag', method='POST')
			fieldset
				.field
					label(for='Tname') Tag: 
					input#Tname(type='text', name='Tname')
				.field
					label(for='Tcategory') Category: 
					input#Tcategory(type='text', name='Tcategory')
				.field
					input(type='submit', value='create tag')
					