extends layout

block content
  form(action='/users/tagToUser', method='POST')
      fieldset
        each item in tags
          p=" Tag: " + item.tag_name + " Category: " + item.category
            input(type='checkbox', name='text', checked=false)
        input(type='submit', value='add tag')
