
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: white;
    font-family: Quicksand;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#login {
    padding: 15px;
}

#getstarted {
    text-align: right;
}

#rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 0px 20px 20px 20px;
	margin: 0px;
	width : 25%;
	height: 100%;
	float : right;
	background-color: orange;
}

#slogan {
	text-align: left;
}

.rounded {
    border-radius: 15px 15px 15px 15px;
    background: white;
    padding: 15px; 
    width: 100px;
    height: 30px; 
}

dialog {  
    width: 500px;  
    background:#e8e8e8;
    border: 1px solid #dadada;
    padding: 5px 10px 20px 20px;
}  
