* {
    box-sizing: border-box;
}

content{
    margin-top:0px;
}

fieldset{

    font-size:30px;
}

html, body {
    height: 100%;
    background-color: #ffb84d;
    font-family: Quicksand;
    margin: 0;
    padding: 0;
}

header{
    margin: 0px 0px 0px 0px;
    background-color: white;
    width:100%;
    font-size: 40px;
}

p {
    font-size: 20px;
    font-family: Quicksand;
}

h1{
    font-size: 40px;
    font-family: Quicksand;
    padding:0px;
}

h2 {
    font-size: 30px;
    font-family: Quicksand;
}

.main{

    background-image: url("happy.jpg");
    font-family: Quicksand;  
    height: 100%; 
    width:100%;
}

.links{
    text-align:center;
    font-size:20px;
    float: right;
    margin-top:55px;
    margin-right:10px;
    margin-bottom:0px;
    text-decoration: none;
}

a:link{
    font-size: 20px;
    color:black; 
    font-family:quicksand;
    style: none;  
    text-decoration: none;
}

a:hover{
    font-size: 20px;
    background-color: #ffb84d;
    color: white;
    text-decoration: none;
}

a:visited{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.rounded {
    border-radius: 15px;
    background: white;
    padding: 15px; 
    width: 100px;
    height: 30px; 
}

dialog {  
    width: 500px;  
    background:#e8e8e8;
    border: 1px solid #dadada;
    padding: 5px 10px 20px 20px;
}  

.field {
    padding: 16px 0;
}

.field label {
    display: inline-block;
    width: 100px;
}

#login {
    padding: 15px;
}

#getstarted {
    text-align: right;
}

#rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 0px 20px 20px 20px;
	margin: 0px;
	width : 25%;
	height: 100%;
	float : right;
	background-color: orange;
}

#taglist{
    padding:30px;
    font-size: 15px; 
    background-color: #fff5e6;
    border: 1px solid black;
    outline: #29a3a3 solid 5px;
}

#createTag{
    margin-top:20px;
    padding-top:30px;
    padding:30px;
    font-size: 15px; 
    background-color: #fff5e6;
    border: 1px solid black;
    outline: #29a3a3 solid 5px;
}

#tags{
    padding-left: 20px;
    font-size: 15px; 
    background-color: #fff5e6;
    border: 1px solid black;
    outline: #29a3a3 solid 5px;
}

#chatlist{
    margin-top: 50px;
    margin-left: 130px;
    margin-right: 50px;
    padding-left: 20px;
    font-size: 15px;
    width: 320px;
    height: 300px;
    background-color: white;
    float: left;
    border: 2px solid black;
    outline: #29a3a3 solid 10px;
}

#friendlist{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    font-size: 15px;
    width: 320px;
    height: 300px;
    background-color: white;
    float: right;
    border: 2px solid black;
    outline: #29a3a3 solid 10px;
}

#bio{
    padding: 5px 10px 10px 10px;
    float: right;
}

#title{
    float: right;
}

#profilepic{ 
    margin-top:20px;
    margin-bottom:20px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

#profile{

}

#slogan {
	text-align: left;
}

#pic{
    height:50px;
    width:150px;
}

#message-text{

    margin-top: 15px;
    margin-bottom: 0px;
}

#first{
    background-color: white;
}

#second{
    background-color: #ebfafa;
}

#message-text{
    width:700px;
}

.chat{
    position: absolute;
}

#banner{

}

#username{

}


#startchat{
    width:200px;
    height:100px;

}

input[type=submit] {
    background-color: black;
    font-color: white;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

#searchTag{
    font-size: 20px;
    padding: 10px;
    width:120px;
    height:40px;
}

input[type=submit]:hover {
    font-color: black;
    background-color: orange;
}

input[type=file] {
    background-color: #eff5f5;
    font-color: white;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width:200px;
}

input[type=file]:hover {
    font-color: black;
    background-color: orange;
}