html
head
link(href='/profilestyle.css', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Karma|Montserrat|Playfair+Display|Poiret+One|Raleway|Rozha+One|Sanchez', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='apiT.js', type='text/javascript')
body
header
    img(src='/LogoBridge.jpg', width='90', height='90')
    nav.links
        ol
          a(href='start.jade') Home
          a(href='profile.jade') Profile
          a(href='tagpage.jade') Tags
          a(href='chats.jade') Chats
    .main
      br
      br
      // profilepic
      img#profilepic(src='/pp.jpg')
      #bio
        // username
        h1  Thales Martines 
        // bio
        p 21, Lisbon PT
        p
          | Thales, renowned by his epithet the "Black Swordsman", is a former mercenary and branded wanderer who travels the world in a constant internal
          | struggle between pursuing his own ends and protecting those dear to him.
        p
          | At one time driven solely by his will to survive, Thales finds purpose in life upon joining the Band of the Falcon, greatly helping in the faction's storied successes during
          | the Hundred-Year War as the Falcon's Raiders Captain. He eventually becomes dissatisfied with clinging on to Griffith's dream, and departs from the Falcons in pursuit of his own.
      br
      br
      br
      #lists
        #taglist
          h2#navtitle List of Tags
          nav
            ul
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
              li
                a(href='#') tag_name()
        #chatlist
          h2#navtitle List of Chats
          nav
            ul
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
              li
                a(href='#') chat_name
        #friendlist
          h2#navtitle Friendlist
          nav
            ul
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
              li
                a(href='#') friend_name
    br
    br
