<html>
<head>
<link href="startstyle.css" rel="stylesheet" type= "text/css">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px" rel="stylesheet">
</head>

<body>
<div id ="rightside">

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<img src="LogoBridge.jpg" width="70" height="70"> 
<div id="slogan">
<h1>Find people that love 
the same thing as you do.</h1>
<h2>Join Bridge today.</h2>
</div>
</br>
<div id ="getstarted">

<form action="/users/start" method="post">
<fieldset>
<label for="name">Userame: </label>
<input type="text" id="name" name="name" />
<br/>
<label for="email">Email: </label>
<input type="email" id="email" name="email"  />
<br/>
<label for="description">Password: </label>
<input type="text" id="pass" name="pass"  />
<br/>
<input type="submit" value="create profile" />
</fieldset>
</form>

</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</div>

</body>

</html>