html
  head
   
    link(href='https://fonts.googleapis.com/css?family=Abril+Fatface|Playfair+Display|Quicksand|Raleway|Slabo+27px', rel='stylesheet')
  body
    #rightside
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      #getstarted
        form(action='/users/start', method='post')
          fieldset
            label(for='name') Userame: 
            input#name(type='text', name='name')
            br
            label(for='email') Email: 
            input#email(type='email', name='email')
            br
            label(for='description') Password: 
            input#pass(type='text', name='pass')
            br
            label(for='description') Password Confirm: 
            input#passC(type='text', name='passC')
            br
            input(type='submit', value='create profile')
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
